/* style.css */
#championsChart {
    width: 400px !important; /* width */
    height: 200px !important; /* height */
    margin-top: 20px; /* distance between the top of the page from chart */
    margin-left: 20px; /* chart distance from the right side of the page */
}

body {
    background-color: #f0f0f0; /* Set a background color */
    font-family: Arial, sans-serif; /* Set a font family */
    margin: 0; /* Remove any default margin */
    /* Add more styles as needed */

    }
    


header {
    background: #000000;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #3a3939;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(197, 178, 178);
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
